extends ../layouts/main_layout.pug

block content
	if prods.length > 0
		ul
			each prod in prods
				li 
					p #{prod.title} (#{prod.qty})
					form(action='/cartDeleteItem', method="POST")
						input(type="hidden", value=prod.id, name="prodId")
						input(type="hidden", value=prod.price, name="prodPrice")
						button.btn(type="submit") remove from Cart
	else
		p no products currently in cart