extends ../layouts/main_layout.pug


block content
	if orders.length <= 0
		h2 no orders
	else 
		ul
			each ord in orders
				li 
					h1 #{ord.id}
					ul
						each item in ord.products
							li product name:  #{item.title}
							li product qty: #{item.orderItem.quantity}
							li product price: #{item.price}